<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Facebook4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveUser</display-name>
    <servlet-name>SaveUser</servlet-name>
    <servlet-class>controller.SaveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUser</servlet-name>
    <url-pattern>/SaveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateuser</display-name>
    <servlet-name>updateuser</servlet-name>
    <servlet-class>controller.updateuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcome</display-name>
    <servlet-name>welcome</servlet-name>
    <servlet-class>controller.welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRequest</display-name>
    <servlet-name>SendRequest</servlet-name>
    <servlet-class>controller.SendRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRequest</servlet-name>
    <url-pattern>/SendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRequest</display-name>
    <servlet-name>UpdateRequest</servlet-name>
    <servlet-class>controller.UpdateRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequest</servlet-name>
    <url-pattern>/UpdateRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveWpost</display-name>
    <servlet-name>SaveWpost</servlet-name>
    <servlet-class>controller.SaveWpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveWpost</servlet-name>
    <url-pattern>/SaveWpost</url-pattern>
  </servlet-mapping>
</web-app>